{% extends "base.html" %}

{% block body %}
    <a href="http://127.0.0.1:5000/all_tweets" type="button" style="color:black" class="btn btn-default">
        All Tweets
    </a><br>
    <a href="http://127.0.0.1:5000/messages" type="button" style="color:black" class="btn btn-default">
        Messages
    </a><br>
    <a href="http://127.0.0.1:5000/new_message" type="button" style="color:black" class="btn btn-default">
        New Message
    </a><br>
    <a href="http://127.0.0.1:5000/edit" type="button" style="color:black" class="btn btn-default">
        Edit User
    </a>

            <table style="width:50%; margin-left:auto; margin-right:auto;">
              <tr>
              <td colspan = "3">
                  <form method = 'POST'>
                     <div class="form-group">
                      <label for="new_tweet"><h3>New Tweet:</h3></label>
                      <textarea class="form-control" rows="5" name="new_tweet" style="width:100%"></textarea>
                      <input type="submit" value="Tweet">
                     </div>
                  </form>
              </td>
              </tr>
              <tr>
                <th align="left"><h3>All Tweets:</h3></th>
              </tr>
              <tr><td colspan="3"><hr></td></tr>
              <tr>
                <th align="left">Tweet Text</th>
                <th align="right">Author</th>
                <th align="right">Date Added</th>
              </tr>
              <tr><td colspan="3"><hr></td></tr>

                {% for tweet in tweets %}
                    <tr>
                        <td>
                            <a href="http://127.0.0.1:5000/tweet_by_id/{{tweet.id}}"
                            style="color: black;text-decoration:none">{{tweet.text}}</a>
                        </td>
                        <td align="right">
                            <a href="http://127.0.0.1:5000/tweets_by_user_id/{{tweet.user_id}}"
                            style="color: black;text-decoration:none">{{tweet.email}}</a>
                        </td>
                        <td align="right">{{tweet.creation_date.strftime('%Y-%m-%d')}}</td>
                    </tr>
                {% endfor %}
            </table>
{% endblock %}