{% extends "base.html" %}

{% block body %}

    <table style="width:50%; margin-left:auto; margin-right:auto;">
      <tr>
        <th align="left"><h3>Received:</h3></th>
      <tr>
      <tr>
         <th align="left"><h3>From</h3></th>
         <th align="left"><h3>Title</h3></th>
         <th align="right"><h3>Status</h3></th>
         <th align="right"><h3>Date</h3></th>
      </tr>
      <tr><td colspan="4"><hr></td></tr>

    {% for message in received %}
        <tr>
            <td align="left">
                <a href="http://127.0.0.1:5000/tweets_by_user_id/{{message.sender_id}}"
                style="color: black;text-decoration:none">{{message.sender_email}}</a>
            </td>
            <td align="left">
                <a href="http://127.0.0.1:5000/message_by_id/{{message.id}}"
                style="color:
                    {% if message.status == 0 %}
                            red
                    {% else %}
                            black
                    {% endif %}
                ;text-decoration:none">{{message.title}}</a>
            </td>
            <td align="right">{{message.status}}</td>
            <td align="right">{{message.creation_date.strftime('%Y-%m-%d')}}</td>
        </tr>
    {% endfor %}

    </table>

    <table style="width:50%; margin-left:auto; margin-right:auto;">
      <tr>
        <th align="left"><h3>Sent:</h3></th>
      <tr>
      <tr>
         <th align="left"><h3>To</h3></th>
         <th align="left"><h3>Title</h3></th>
         <th align="right"><h3>Status</h3></th>
         <th align="right"><h3>Date</h3></th>
      </tr>
      <tr><td colspan="4"><hr></td></tr>

    {% for message in sent %}
        <tr>
        <td align="left">
            <a href="http://127.0.0.1:5000/tweets_by_user_id/{{message.recipient_id}}"
            style="color: black;text-decoration:none">{{message.recipient_email}}</a>
        </td>
        <td align="left">
            <a href="http://127.0.0.1:5000/message_by_id/{{message.id}}"
            style="color:
                {% if message.status == 0 %}
                        red
                {% else %}
                        black
                {% endif %}
            ;text-decoration:none">{{message.title}}</a>
        </td>
        <td align="right">{{message.status}}</td>
        <td align="right">{{message.creation_date.strftime('%Y-%m-%d')}}</td>
      </tr>
    {% endfor %}

    </table>

{% endblock %}