{% extends "tweets.html" %}

{% block tweets %}

    <table style="width:50%; margin-left:auto; margin-right:auto;">
      <tr>
        <th align="left"><h3>Received:</h3></th>
      <tr>
      <tr>
         <th align="left"><h3>From</h3></th>
         <th align="left"><h3>Title</h3></th>
         <th align="right"><h3>Status</h3></th>
         <th align="right"><h3>Date</h3></th>
      </tr>
      <tr><td colspan="4"><hr></td></tr>

    {% for message in received %}
            if message.status == 0:
                color = 'red'
            else:
                color = 'black'
            user = User.load_user_by_id(cnx.cursor(), message.sender_id)
            html += '''
                <tr>
                    <td align="left">
                        <a href="http://127.0.0.1:5000/tweets_by_user_id/{}"
                        style="color: black;text-decoration:none">{}</a>
                    </td>
                    <td align="left">
                        <a href="http://127.0.0.1:5000/message_by_id/{}"
                        style="color: {};text-decoration:none">{}</a>
                    </td>
                    <td align="right">{}</td>
                    <td align="right">{}</td>
                </tr>
                    '''.format(user.id, user.email, message.id, color, message.title, message.status,
                               datetime.date(message.creation_date))
    {% endfor %}

    </table>

    <table style="width:50%; margin-left:auto; margin-right:auto;">
      <tr>
        <th align="left"><h3>Sent:</h3></th>
      <tr>
      <tr>
         <th align="left"><h3>To</h3></th>
         <th align="left"><h3>Title</h3></th>
         <th align="right"><h3>Status</h3></th>
         <th align="right"><h3>Date</h3></th>
      </tr>
      <tr><td colspan="4"><hr></td></tr>

    {% for message in sent %}
            if message.status == 0:
                color = 'red'
            else:
                color = 'black'
            user = User.load_user_by_id(cnx.cursor(), message.recipient_id)
            html += '''
                    <tr>
                    <td align="left">
                        <a href="http://127.0.0.1:5000/tweets_by_user_id/{}"
                        style="color: black;text-decoration:none">{}</a>
                    </td>
                    <td align="left">
                        <a href="http://127.0.0.1:5000/message_by_id/{}"
                        style="color: {};text-decoration:none">{}</a>
                    </td>
                    <td align="right">{}</td>
                    <td align="right">{}</td>
                  </tr>
                      '''.format(user.id, user.email, message.id, color, message.title, message.status,
                                 datetime.date(message.creation_date))

    {% endfor %}
{% endblock %}


