{% extends "base.html" %}

{% block body %}
    <table style="width:50%; margin-left:auto; margin-right:auto;">
        <tr>
            <th align="left"><h3>Id</h3></th>
            <th align="left"><h3>Text</h3></th>
            <th align="right"><h3>Author</h3></th>
            <th align="right"><h3>Creation Date</h3></th>
        </tr>
            <tr>
            <td colspan="4"><hr></td>
            </tr>
        <tr>
            <th align="left">{{tweet.id}}</th>
            <th align="left">{{tweet.text}}</th>
            <th align="right">
            <a href="http://127.0.0.1:5000/tweets_by_user_id/{{user.id}}"
            style="color: black;text-decoration:none">{{user.email}}</a>
            </th>
            <th align="right">{{tweet.creation_date.strftime('%Y-%m-%d')}}</th>
        </tr>
        <tr>
            <td colspan="4"><hr></td>
        </tr>
    </table>

    <table style="width:50%; margin-left:auto; margin-right:auto;">

        <tr>
             <th align="left"><h4>Comments</h4></th>
             <th align="right"><h4>Author</h4></th>
             <th align="right"><h4>Creation Date</h4></th>
        </tr>
        <tr><td colspan="4"><hr></td></tr>

        {% for comment in comments %}
        <tr>
            <td align="left">{{comment.text}}</td>
            <td align="right">
                <a href="http://127.0.0.1:5000/tweets_by_user_id/{{user.id}}"
                style="color: black;text-decoration:none">{{comment.email}}</a>
            </td>
            <td align="right">{{comment.creation_date.strftime('%Y-%m-%d')}}</td>
        </tr>
        {% endfor %}

        <tr>
            <td colspan="4"><hr></td>
        </tr>
        <tr>
            <td colspan = "4">
                <form method = 'POST'>
                    <div class="form-group">
                        <label for="new_comment"><h3>New Comment:</h3></label>
                        <textarea class="form-control" rows="5" name="new_comment" style="width:100%"></textarea>
                        <input type="submit" value="Comment">
                    </div>
                </form>
            </td>
        </tr>
    </table>
{% endblock %}


