{% extends "base.html" %}

{% block body %}
    <a href="http://127.0.0.1:5000/all_tweets" type="button" style="color:black" class="btn btn-default">
        All Tweets
    </a><br>
    <a href="http://127.0.0.1:5000/messages" type="button" style="color:black" class="btn btn-default">
        Messages
    </a><br>
    <a href="http://127.0.0.1:5000/new_message" type="button" style="color:black" class="btn btn-default">
        New Message
    </a><br>
    <a href="http://127.0.0.1:5000/edit" type="button" style="color:black" class="btn btn-default">
        Edit User
    </a><br>
    <a href="http://127.0.0.1:5000/logout" type="button" style="color:black" class="btn btn-default">
        Logout
    </a>

    {% block tweets %}
    {% endblock %}

{% endblock %}