{% extends "base.html" %}

{% block body %}
    <table style="width:50%; margin-left:auto; margin-right:auto;">
      <tr>
        <th style="text-align:left"><h3>All Tweets by {{user.email}}:</h3></th>
        <th style="text-align:right"></th>
        <th style="text-align:right">
        <form action="/new_message" method="GET">
         <button type="submit" href="http://127.0.0.1:5000/new_message" class="btn btn-default">
            Send Message
         </button>
         <input type="hidden" name="recipient_email" value="{{user.email}}">
        </form>
        </th>
      </tr>
      <tr><td colspan="3"><hr></td></tr>
      <tr>
        <th style="text-align:left">Tweet Text</th>
        <th style="text-align:right">Comments</th>
        <th style="text-align:right">Date Added</th>
      </tr>
      <tr><td colspan="3"><hr></td></tr>

        {% for tweet in tweets %}
            <tr>
                <td>
                    <a href="http://127.0.0.1:5000/tweet_by_id/{{tweet.id}}"
                       style="color: black;text-decoration:none">{{tweet.text}}</a>
                </td>
                <td align="right">{{tweet.comments}}</td>
                <td align="right">{{tweet.creation_date.strftime('%Y-%m-%d')}}</td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}


